.import/
.DS_Store
.godot/*

# Packaging and devlog files
media
media/*
devlog
devlog/*
*.mkv
*.mp4

# Test reports
reports
reports/*

# Editors
*.kate-swp

# Personal tooling
.justfile
.build_success.json

# Godot export directories based on export_presets.cfg
exports/*
!exports/linux
exports/linux/*
!exports/linux/.gdignore

!exports/macos
exports/macos/*
!exports/macos/.gdignore

!exports/web
exports/web/*
!exports/web/.gdignore

!exports/windows
exports/windows/*
!exports/windows/.gdignore
